
/* font famaly link */
/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* loto */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/* common cord start */
:root{
    --rob: 'Roboto', sans-serif;
    --lot: 'Lato', sans-serif;

    --ass: #8e8e8e;
    --black: #333333;
    --white: #ffffff;
    --fw: 400;
}
body{
    color: var(--ass);
    font-family: var(--rob);
    font-size: 16px;
    font-weight: var(--fw);
}
/* header start */